<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- might not need the shrink to fit no aspect above -->
    <link href="application.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">

  </head>
  <body>
    <header class="container mt-5">
      <div class="row">
        <div class="jumbotron jumbotron-fluid">
          <div class="container name-container">
            <h1 class="name">Jon</h1> <h1 class="name">Ablondi</h1>
          </div>
        </div>
      </div>
    </header>

    <main class="container">

      <div id="about" class="row justify-content-center">
        <p class="fancy col-12"><span>About Me</span></p>

        <div class="container">
          <div class="row justify-content-center">
            <div class="text mt-3">
              <p>My name is Jon Ablondi, I like making things both physically and electronically. This site explores both realms. My name is Jon Ablondi, I like making things both physically and electronically. This site explores both realms. My name is Jon Ablondi, I like making things both physically and electronically. This site explores both realms.</p>
            </div>
          </div>
        </div>
      </div>


      <div id="portfolio" class="row justify-content-center">
        <p class="fancy mt-5 col-12"><span>Coding</span></p>

        <div class="container">
          <div class="row row-projects justify-content-center">
            <div class="moon col-12 col-md-3">
              <a href="/project1"><img class="projects" src="/moon.jpg" alt="project 1"><p>Project 1 - Amaysim</p></a>
            </div>
            <div class="moon col-12 col-md-3">
              <a href="/project2"><img class="projects" src="/moon.jpg" alt="project 2"><p>Project 2</p></a>
            </div>
            <div class="moon col-12 col-md-3">
              <a href="#"><img class="projects" src="/moon.jpg" alt="project 3"><p>Project 3</p></a>
            </div>
            <div class="moon col-12 col-md-3">
              <a href="#"><img class="projects" src="/moon.jpg" alt="project 4"><p>Project 4</p></a>
            </div>
          </div>

        </div>
      </div>

      <div id="craft" class="row justify-content-center">
        <p class="fancy mt-5 col-12"><span>Craft</span></p>

        <div class="container mt-2 mb-5">
          <div class="row col-12 align-items-center ml-1">
            <div class="card col-6 col-md-3">

              <button class="btn btn-primary" data-toggle="modal"
              data-target=".bd-bird-modal-lg">
                <!-- Thumbnail image to click on -->
                <img class="card-img-top" src="/WireBird.jpg" alt="Wire Bird">
              </button>

              <!-- Modal code -->
              <div class="modal fade bd-bird-modal-lg  align-items-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content modal-contenth">
                    <div class="col-5">
                      <img class="thumbnailh" src="/WireBird.jpg" alt="Wire Bird">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card col-6 col-md-3">

              <button class="btn btn-primary" data-toggle="modal" data-target=".bd-board-modal-lg">
                <!-- Thumbnail image to click on -->
                <img class="card-img-top" src="/ChoppingBoard.JPG" alt="Chopping Board">
              </button>

              <!-- Modal code -->
              <div class="modal fade bd-board-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content modal-contenth">
                    <div class="col-5">
                      <img class="thumbnailh" src="/ChoppingBoard.JPG" alt="Chopping Board">
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="card col-6 col-md-3">

              <button class="btn btn-primary" data-toggle="modal" data-target=".bd-concrete-modal-lg">
                <!-- Thumbnail image to click on -->
                <img class="card-img-top" src="/ConcretePots.JPG" alt="Concrete Pots">
              </button>

              <!-- Modal code -->
              <div class="modal fade bd-concrete-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content modal-contenth">
                    <div class="col-5">
                      <img class="thumbnailh" src="/ConcretePots.JPG" alt="Concrete Pots">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card col-6 col-md-3">

              <button class="btn btn-primary" data-toggle="modal"
              data-target=".bd-jewellery-modal-lg">
              <!-- Thumbnail image to click on -->
                <img class="card-img-top" src="/JewelleryBox.jpg" alt="Jewel
                lery Box">
              </button>

              <!-- Modal code -->
              <div class="modal fade bd-jewellery-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content modal-contenth">
                    <div class="col-5">
                      <img class="thumbnailh" src="/JewelleryBox.jpg" alt="Jewellery Box">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row col-12 mt-3 align-items-center justify-content-center ml-1">
            <div class="card col-6 col-md-3">
              <button class="btn btn-primary" data-toggle="modal"
              data-target=".bd-leobook-modal-lg">
                <!-- Thumbnail image to click on -->
                <img class="card-img-top" src="/BookArt1.jpg" alt="Leo bookfold">
              </button>

              <!-- Modal code -->
              <div class="modal fade bd-leobook-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content modal-contentv">
                    <div class="col-3">
                      <img class="thumbnailv" src="/BookArt1.jpg" alt="Leo bookfold">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card col-6 col-md-3">

              <button class="btn btn-primary" data-toggle="modal"
              data-target=".bd-ruler-modal-lg">
                <!-- Thumbnail image to click on -->
                <img class="card-img-top" src="/Ruler.jpg" alt="Growth Ruler">
              </button>

              <!-- Modal code -->
              <div class="modal fade bd-ruler-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content modal-contentv">
                    <div class="col-3">
                      <img class="thumbnailv" src="/Ruler.jpg" alt="Growth Ruler">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card col-6 col-md-3">

              <button class="btn btn-primary" data-toggle="modal" data-target=".bd-dylanbook-modal-lg">
                <!-- Thumbnail image to click on -->
                <img class="card-img-top" src="/BookArt2.jpg" alt="Dylan bookfold">
              </button>

              <!-- Modal code -->
              <div class="modal fade bd-dylanbook-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content modal-contentv">
                    <div class="col-3">
                      <img class="thumbnailv" src="/BookArt2.jpg" alt="Dylan bookfold">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </main>
  </body>
</html>
